:root {
  --color-pink: #FFADA8;
  --color-green: #D9FFBC;
  --color-purple: #E6BCFF;

  --color-black: #000000;
  --color-gray: #484848;
  --color-white: #FFFFFF;

  --color-blue: #006D95;
  --color-brown: #492E04;
}