.icon-button {
  border: none;
  background: transparent;
  cursor: pointer;
} 

.link-button {
  color: var(--color-white);
}
.link-button:hover,
.link-button:active,
.menu-button:hover,
.menu-button:active {
  color: var(--color-pink);
}

.menu-button {
  color: var(--color-white);
  text-decoration: none;
}
