*,
*:not(i)::after,
*:not(i)::before {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Montserrat", sans-serif;
  outline: none;
}

*::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Add Offset for anchor */
:target {
  scroll-margin-top: 54px;
}